<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events - Celestial Gatherings</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <%- include('partials/header') %>
    <%- include('partials/nav') %>

    <div class="container">
        <h1>Events</h1>
        <div class="divider"></div>
        <% categories.forEach(category => { %>
            <div class="event-category">
                <h2><%= he.decode(category) %></h2>
                <% events.filter(event => event.category === category).forEach(event => { %>
                    <div class="event-item"><a href="/events/<%= event._id %>"><%= he.decode(event.title) %></a></div>
                <% }) %>
            </div>
        <% }) %>
    </div>

    <%- include('partials/footer') %>
</body>
</html>
